In [1]:
##import required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns

In [3]:
df=pd.read_csv('E:\Data Set\incident_event_log.csv')

In [4]:
df1=pd.DataFrame(df)

In [5]:
closed=df1[df1['incident_state']=='Closed']  #We need only data on closed tickets for our analysis. 
closed.head()

,number,incident_state,active,reassignment_count,reopen_count,sys_mod_count,made_sla,caller_id,opened_by,opened_at,...,u_priority_confirmation,notify,problem_id,rfc,vendor,caused_by,closed_code,resolved_by,resolved_at,closed_at
3,INC0000045,Closed,False,0,0,4,True,Caller 2403,Opened by 8,29/2/2016 01:16,...,False,Do Not Notify,?,?,?,?,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
12,INC0000047,Closed,False,1,0,8,True,Caller 2403,Opened by 397,29/2/2016 04:40,...,False,Do Not Notify,?,?,?,?,code 5,Resolved by 81,1/3/2016 09:52,6/3/2016 10:00
19,INC0000057,Closed,False,0,0,6,True,Caller 4416,Opened by 8,29/2/2016 06:10,...,False,Do Not Notify,Problem ID 2,?,?,?,code 10,Resolved by 5,1/3/2016 02:55,6/3/2016 03:00
23,INC0000060,Closed,False,0,0,3,True,Caller 4491,Opened by 180,29/2/2016 06:38,...,False,Do Not Notify,?,?,?,?,code 3,Resolved by 113,2/3/2016 12:06,7/3/2016 13:00
31,INC0000062,Closed,False,1,0,7,False,Caller 3765,Opened by 180,29/2/2016 06:58,...,False,Do Not Notify,?,?,?,?,code 7,Resolved by 62,29/2/2016 15:51,5/3/2016 16:00

In [6]:
closed.drop(labels=['incident_state','active','sys_created_by','sys_created_at','sys_updated_by','sys_updated_at','contact_type','cmdb_ci','impact','urgency','knowledge','u_priority_confirmation','notify','rfc','vendor','caused_by','problem_id'], axis=1, inplace =True) 
#Feature selecting(Remove unwanted columns)

In [7]:
closed.head(5)

,number,reassignment_count,reopen_count,sys_mod_count,made_sla,caller_id,opened_by,opened_at,location,category,subcategory,u_symptom,priority,assignment_group,assigned_to,closed_code,resolved_by,resolved_at,closed_at
3,INC0000045,0,0,4,True,Caller 2403,Opened by 8,29/2/2016 01:16,Location 143,Category 55,Subcategory 170,Symptom 72,3 - Moderate,Group 56,?,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
12,INC0000047,1,0,8,True,Caller 2403,Opened by 397,29/2/2016 04:40,Location 165,Category 40,Subcategory 215,Symptom 471,3 - Moderate,Group 24,Resolver 89,code 5,Resolved by 81,1/3/2016 09:52,6/3/2016 10:00
19,INC0000057,0,0,6,True,Caller 4416,Opened by 8,29/2/2016 06:10,Location 204,Category 20,Subcategory 125,Symptom 471,3 - Moderate,Group 70,Resolver 6,code 10,Resolved by 5,1/3/2016 02:55,6/3/2016 03:00
23,INC0000060,0,0,3,True,Caller 4491,Opened by 180,29/2/2016 06:38,Location 204,Category 9,Subcategory 97,Symptom 450,3 - Moderate,Group 25,Resolver 125,code 3,Resolved by 113,2/3/2016 12:06,7/3/2016 13:00
31,INC0000062,1,0,7,False,Caller 3765,Opened by 180,29/2/2016 06:58,Location 93,Category 53,Subcategory 168,Symptom 232,2 - High,Group 23,?,code 7,Resolved by 62,29/2/2016 15:51,5/3/2016 16:00

In [8]:
## replace special character with Null
for i in closed:
    closed[i]=closed[i].replace('?',np.nan)
    print(closed[i])

3         INC0000045
12        INC0000047
19        INC0000057
23        INC0000060
31        INC0000062
             ...
141695    INC0120304
141697    INC0120319
141703    INC0120495
141707    INC0120835
141711    INC0121064
Name: number, Length: 24985, dtype: object
3         0
12        1
19        0
23        0
31        1
         ..
141695    0
141697    0
141703    1
141707    1
141711    1
Name: reassignment_count, Length: 24985, dtype: int64
3         0
12        0
19        0
23        0
31        0
         ..
141695    0
141697    0
141703    0
141707    0
141711    0
Name: reopen_count, Length: 24985, dtype: int64
3         4
12        8
19        6
23        3
31        7
         ..
141695    2
141697    1
141703    5
141707    4
141711    3
Name: sys_mod_count, Length: 24985, dtype: int64
3          True
12         True
19         True
23         True
31        False
          ...
141695     True
141697     True
141703     True
141707     True
141711     True
Name: made_sla, Length: 24985, dtype: bool
3         Caller 2403
12        Caller 2403
19        Caller 4416
23        Caller 4491
31        Caller 3765
             ...
141695      Caller 90
141697    Caller 1899
141703     Caller 323
141707     Caller 116
141711     Caller 116
Name: caller_id, Length: 24985, dtype: object
3           Opened by  8
12        Opened by  397
19          Opened by  8
23        Opened by  180
31        Opened by  180
               ...
141695      Opened by  8
141697    Opened by  508
141703     Opened by  14
141707     Opened by  12
141711     Opened by  12
Name: opened_by, Length: 24985, dtype: object
3         29/2/2016 01:16
12        29/2/2016 04:40
19        29/2/2016 06:10
23        29/2/2016 06:38
31        29/2/2016 06:58
               ...
141695    15/2/2017 02:02
141697    15/2/2017 07:09
141703    15/2/2017 11:58
141707    16/2/2017 09:09
141711    16/2/2017 14:17
Name: opened_at, Length: 24985, dtype: object
3         Location 143
12        Location 165
19        Location 204
23        Location 204
31         Location 93
              ...
141695    Location 188
141697    Location 246
141703    Location 135
141707    Location 204
141711    Location 204
Name: location, Length: 24985, dtype: object
3         Category 55
12        Category 40
19        Category 20
23         Category 9
31        Category 53
             ...
141695    Category 52
141697    Category 50
141703    Category 59
141707    Category 42
141711    Category 42
Name: category, Length: 24985, dtype: object
3         Subcategory 170
12        Subcategory 215
19        Subcategory 125
23         Subcategory 97
31        Subcategory 168
               ...
141695    Subcategory 177
141697     Subcategory 10
141703    Subcategory 210
141707    Subcategory 223
141711    Subcategory 223
Name: subcategory, Length: 24985, dtype: object
3          Symptom 72
12        Symptom 471
19        Symptom 471
23        Symptom 450
31        Symptom 232
             ...
141695    Symptom 494
141697    Symptom 533
141703    Symptom 483
141707    Symptom 494
141711    Symptom 494
Name: u_symptom, Length: 24985, dtype: object
3         3 - Moderate
12        3 - Moderate
19        3 - Moderate
23        3 - Moderate
31            2 - High
              ...
141695    3 - Moderate
141697         4 - Low
141703    3 - Moderate
141707    3 - Moderate
141711    3 - Moderate
Name: priority, Length: 24985, dtype: object
3         Group 56
12        Group 24
19        Group 70
23        Group 25
31        Group 23
            ...
141695    Group 64
141697    Group 70
141703    Group 24
141707    Group 31
141711    Group 31
Name: assignment_group, Length: 24985, dtype: object
3                  NaN
12         Resolver 89
19          Resolver 6
23        Resolver 125
31                 NaN
              ...
141695      Resolver 6
141697             NaN
141703    Resolver 217
141707     Resolver 10
141711     Resolver 10
Name: assigned_to, Length: 24985, dtype: object
3          code 5
12         code 5
19        code 10
23         code 3
31         code 7
           ...
141695     code 6
141697     code 6
141703        NaN
141707     code 9
141711     code 6
Name: closed_code, Length: 24985, dtype: object
3         Resolved by 149
12         Resolved by 81
19          Resolved by 5
23        Resolved by 113
31         Resolved by 62
               ...
141695      Resolved by 5
141697                NaN
141703                NaN
141707      Resolved by 9
141711      Resolved by 9
Name: resolved_by, Length: 24985, dtype: object
3         29/2/2016 11:29
12         1/3/2016 09:52
19         1/3/2016 02:55
23         2/3/2016 12:06
31        29/2/2016 15:51
               ...
141695    17/2/2017 00:47
141697                NaN
141703                NaN
141707    16/2/2017 09:53
141711    16/2/2017 16:38
Name: resolved_at, Length: 24985, dtype: object
3          5/3/2016 12:00
12         6/3/2016 10:00
19         6/3/2016 03:00
23         7/3/2016 13:00
31         5/3/2016 16:00
               ...
141695    17/2/2017 00:50
141697    15/2/2017 07:09
141703    16/2/2017 09:51
141707    16/2/2017 09:53
141711    16/2/2017 16:38
Name: closed_at, Length: 24985, dtype: object

In [9]:
closed.isna().sum()

number                   0
reassignment_count       0
reopen_count             0
sys_mod_count            0
made_sla                 0
caller_id                3
opened_by              715
opened_at                0
location                 8
category                 8
subcategory             10
u_symptom             5856
priority                 0
assignment_group      2169
assigned_to            729
closed_code            107
resolved_by            100
resolved_at           1558
closed_at                0
dtype: int64

In [10]:
## Replace Null values with mode in all variable
for column in closed:
    closed[column].fillna(closed[column].mode()[0], inplace=True)

In [11]:
closed.isna().sum()

number                0
reassignment_count    0
reopen_count          0
sys_mod_count         0
made_sla              0
caller_id             0
opened_by             0
opened_at             0
location              0
category              0
subcategory           0
u_symptom             0
priority              0
assignment_group      0
assigned_to           0
closed_code           0
resolved_by           0
resolved_at           0
closed_at             0
dtype: int64

In [6]:
closed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24985 entries, 0 to 24984
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   number              24985 non-null  object
 1   reassignment_count  24985 non-null  int64
 2   reopen_count        24985 non-null  int64
 3   sys_mod_count       24985 non-null  int64
 4   made_sla            24985 non-null  bool
 5   caller_id           24985 non-null  object
 6   opened_by           24985 non-null  object
 7   opened_at           24985 non-null  object
 8   location            24985 non-null  object
 9   category            24985 non-null  object
 10  subcategory         24985 non-null  object
 11  u_symptom           24985 non-null  object
 12  priority            24985 non-null  object
 13  assignment_group    24985 non-null  object
 14  assigned_to         24985 non-null  object
 15  closed_code         24985 non-null  object
 16  resolved_by         24985 non-null  object
 17  resolved_at         24985 non-null  object
 18  closed_at           24985 non-null  object
dtypes: bool(1), int64(3), object(15)
memory usage: 3.5+ MB

In [24]:
closed.to_excel('Notfinal.xlsx')

In [2]:
closed=pd.read_excel('Notfinal.xlsx')

In [5]:
closed.drop(labels='Unnamed: 0',axis=1,inplace=True)

In [7]:
closed.head()

,number,reassignment_count,reopen_count,sys_mod_count,made_sla,caller_id,opened_by,opened_at,location,category,subcategory,u_symptom,priority,assignment_group,assigned_to,closed_code,resolved_by,resolved_at,closed_at
0,INC0000045,0,0,4,True,Caller 2403,Opened by 8,29/2/2016 01:16,Location 143,Category 55,Subcategory 170,Symptom 72,3 - Moderate,Group 56,Resolver 13,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
1,INC0000047,1,0,8,True,Caller 2403,Opened by 397,29/2/2016 04:40,Location 165,Category 40,Subcategory 215,Symptom 471,3 - Moderate,Group 24,Resolver 89,code 5,Resolved by 81,1/3/2016 09:52,6/3/2016 10:00
2,INC0000057,0,0,6,True,Caller 4416,Opened by 8,29/2/2016 06:10,Location 204,Category 20,Subcategory 125,Symptom 471,3 - Moderate,Group 70,Resolver 6,code 10,Resolved by 5,1/3/2016 02:55,6/3/2016 03:00
3,INC0000060,0,0,3,True,Caller 4491,Opened by 180,29/2/2016 06:38,Location 204,Category 9,Subcategory 97,Symptom 450,3 - Moderate,Group 25,Resolver 125,code 3,Resolved by 113,2/3/2016 12:06,7/3/2016 13:00
4,INC0000062,1,0,7,False,Caller 3765,Opened by 180,29/2/2016 06:58,Location 93,Category 53,Subcategory 168,Symptom 232,2 - High,Group 23,Resolver 13,code 7,Resolved by 62,29/2/2016 15:51,5/3/2016 16:00

In [11]:
for i in closed['caller_id']:
    closed['caller']=i[7:]
print(closed.head())

       number  reassignment_count  reopen_count  sys_mod_count  made_sla  \
0  INC0000045                   0             0              4      True
1  INC0000047                   1             0              8      True
2  INC0000057                   0             0              6      True
3  INC0000060                   0             0              3      True
4  INC0000062                   1             0              7     False

     caller_id       opened_by        opened_at      location     category  \
0  Caller 2403    Opened by  8  29/2/2016 01:16  Location 143  Category 55
1  Caller 2403  Opened by  397  29/2/2016 04:40  Location 165  Category 40
2  Caller 4416    Opened by  8  29/2/2016 06:10  Location 204  Category 20
3  Caller 4491  Opened by  180  29/2/2016 06:38  Location 204   Category 9
4  Caller 3765  Opened by  180  29/2/2016 06:58   Location 93  Category 53

       subcategory    u_symptom      priority assignment_group   assigned_to  \
0  Subcategory 170   Symptom 72  3 - Moderate         Group 56   Resolver 13
1  Subcategory 215  Symptom 471  3 - Moderate         Group 24   Resolver 89
2  Subcategory 125  Symptom 471  3 - Moderate         Group 70    Resolver 6
3   Subcategory 97  Symptom 450  3 - Moderate         Group 25  Resolver 125
4  Subcategory 168  Symptom 232      2 - High         Group 23   Resolver 13

  closed_code      resolved_by      resolved_at       closed_at caller
0      code 5  Resolved by 149  29/2/2016 11:29  5/3/2016 12:00    116
1      code 5   Resolved by 81   1/3/2016 09:52  6/3/2016 10:00    116
2     code 10    Resolved by 5   1/3/2016 02:55  6/3/2016 03:00    116
3      code 3  Resolved by 113   2/3/2016 12:06  7/3/2016 13:00    116
4      code 7   Resolved by 62  29/2/2016 15:51  5/3/2016 16:00    116

In [15]:
closed.drop(labels='caller',axis=1,inplace=True)

In [16]:
closed

,number,reassignment_count,reopen_count,sys_mod_count,made_sla,caller_id,opened_by,opened_at,location,category,subcategory,u_symptom,priority,assignment_group,assigned_to,closed_code,resolved_by,resolved_at,closed_at
0,INC0000045,0,0,4,True,Caller 2403,Opened by 8,29/2/2016 01:16,Location 143,Category 55,Subcategory 170,Symptom 72,3 - Moderate,Group 56,Resolver 13,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
1,INC0000047,1,0,8,True,Caller 2403,Opened by 397,29/2/2016 04:40,Location 165,Category 40,Subcategory 215,Symptom 471,3 - Moderate,Group 24,Resolver 89,code 5,Resolved by 81,1/3/2016 09:52,6/3/2016 10:00
2,INC0000057,0,0,6,True,Caller 4416,Opened by 8,29/2/2016 06:10,Location 204,Category 20,Subcategory 125,Symptom 471,3 - Moderate,Group 70,Resolver 6,code 10,Resolved by 5,1/3/2016 02:55,6/3/2016 03:00
3,INC0000060,0,0,3,True,Caller 4491,Opened by 180,29/2/2016 06:38,Location 204,Category 9,Subcategory 97,Symptom 450,3 - Moderate,Group 25,Resolver 125,code 3,Resolved by 113,2/3/2016 12:06,7/3/2016 13:00
4,INC0000062,1,0,7,False,Caller 3765,Opened by 180,29/2/2016 06:58,Location 93,Category 53,Subcategory 168,Symptom 232,2 - High,Group 23,Resolver 13,code 7,Resolved by 62,29/2/2016 15:51,5/3/2016 16:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24980,INC0120304,0,0,2,True,Caller 90,Opened by 8,15/2/2017 02:02,Location 188,Category 52,Subcategory 177,Symptom 494,3 - Moderate,Group 64,Resolver 6,code 6,Resolved by 5,17/2/2017 00:47,17/2/2017 00:50
24981,INC0120319,0,0,1,True,Caller 1899,Opened by 508,15/2/2017 07:09,Location 246,Category 50,Subcategory 10,Symptom 533,4 - Low,Group 70,Resolver 13,code 6,Resolved by 11,3/6/2016 16:28,15/2/2017 07:09
24982,INC0120495,1,0,5,True,Caller 323,Opened by 14,15/2/2017 11:58,Location 135,Category 59,Subcategory 210,Symptom 483,3 - Moderate,Group 24,Resolver 217,code 6,Resolved by 11,3/6/2016 16:28,16/2/2017 09:51
24983,INC0120835,1,0,4,True,Caller 116,Opened by 12,16/2/2017 09:09,Location 204,Category 42,Subcategory 223,Symptom 494,3 - Moderate,Group 31,Resolver 10,code 9,Resolved by 9,16/2/2017 09:53,16/2/2017 09:53
24984,INC0121064,1,0,3,True,Caller 116,Opened by 12,16/2/2017 14:17,Location 204,Category 42,Subcategory 223,Symptom 494,3 - Moderate,Group 31,Resolver 10,code 6,Resolved by 9,16/2/2017 16:38,16/2/2017 16:38

In [45]:
closed.drop(labels='Caller',axis=1,inplace=True)

In [50]:
closed['caller_id']

0        Caller 2403
1        Caller 2403
2        Caller 4416
3        Caller 4491
4        Caller 3765
            ...
24980      Caller 90
24981    Caller 1899
24982     Caller 323
24983     Caller 116
24984     Caller 116
Name: caller_id, Length: 24985, dtype: object

In [51]:
closed.to_excel('Final.xlsx')

In [1]:
l=[1,2,3,4,5]
l.remove(2)
l

[1, 3, 4, 5]